<!DOCTYPE html>
<html>

<head>
	<title>{{ title }} - Page</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
	<div class="navbar">
		{% if current_user.is_authenticated %}
			<a>&nbsp</a><a>&nbsp</a>
			<a href="{{ url_for ('home') }}"> HOME </a>
			<a>&nbsp</a> <a>&nbsp</a><a>|</a><a>&nbsp</a><a>&nbsp</a>
			<a href="{{ url_for ('books') }}"> BOOKS </a>
			<a>&nbsp</a> <a>&nbsp</a><a>|</a><a>&nbsp</a><a>&nbsp</a>
			<a href="{{ url_for ('myaccount') }}">MY ACCOUNT</a>
			<a>&nbsp</a><a>&nbsp</a><a>|</a><a>&nbsp</a><a>&nbsp</a>
			<a href="{{ url_for ('posts') }}">POST A FEEDBACK</a>
			<a>&nbsp</a><a>&nbsp</a><a>|</a><a>&nbsp</a><a>&nbsp</a>
			<a href="{{ url_for ('logout') }}">LOGOUT</a>
		{% else %}
			<a>&nbsp</a><a>&nbsp</a>
			<a href="{{ url_for ('home') }}"> HOME </a>
			<a>&nbsp</a> <a>&nbsp</a><a>|</a><a>&nbsp</a><a>&nbsp</a>
			<a href="{{ url_for ('books') }}"> BOOKS </a>
			<a>&nbsp</a> <a>&nbsp</a><a>|</a><a>&nbsp</a><a>&nbsp</a>
			<a href="{{ url_for ('register') }}"> REGISTER </a>
			<a>&nbsp</a><a>&nbsp</a><a>|</a><a>&nbsp</a><a>&nbsp</a>
			<a href="{{ url_for ('login') }}"> LOGIN </a>
		{% endif %}
	</div>
	{% block content %}{% endblock %}
</body>

</html>